@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  font-size: x-large;
  color-scheme: light dark;
  color: #ffffff;
  background-color: #151419;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: normal;
  color: #828288;
  text-decoration: inherit;
  transition: color 0.3s;
}

a:hover {
  color: #FFFFFF;
}

.router-link-active{
  color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:focus,
button:focus-visible {
  outline: none;
}

#app {
  width: 100%;
  max-width: 1690px;
  height: 100vh;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.content {
  width: 100%;
  max-width: 1160px;
  box-sizing: border-box;
  padding-bottom: 5rem;
}

span.bold{
  font-weight: bold;
}


@media (max-width: 1440px) {
  #app {
    max-width: 1280px;
  }
  .content {
    max-width: 870px;
  }
  :root{
    font-size: larger;
  }
}

@media (max-width: 1280px) {
  #app {
    max-width: 100%;
  }
  .content {
    max-width: 870px;
  }
  :root{
    font-size: medium;
  }
}

@media (max-width: 768px) {
  #app {
    padding: 10px;
  }
  .content {
    max-width: 100%;
  }
  :root{
    font-size: medium;
  }
}

@media (max-width: 480px) {
  #app {
    padding: 5px;
  }
  .content {
    max-width: 100%;
  }
  :root{
    font-size: small;
  }
}
